[submodule "prefab-cloud"]
	path = sdk/src/main/protobufs/shared-protobufs
	url = https://github.com/prefab-cloud/prefab-cloud.git
[submodule "integration-test-data"]
	path = sdk/src/test/resources/shared-integration-test-data
	url = https://github.com/prefab-cloud/prefab-cloud-integration-test-data.git